# Ignore everything:
*

# Include only these folders:
!AqEquil/
!AqEquil/*
!AqEquil/*/
!html/
!html/AqEquil/
!html/AqEquil/*
!html/AqEquil/*/
!README.md
!CITATION.cff
!LICENSE.txt
!setup.py

# Ignore pycache
AqEquil/__pycache__/*
AqEquil/__pycache__/
AqEquil/__pycache__
.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*
